@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    background-color: #3338a0e1;
    margin: 0%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
.container-box{
    background-color: #f7f7f7;
    padding: 100px;
    border-radius:12px;
    box-shadow: 0px 4px 15px black;
    width:370px;
    text-align: center;
}
.container-box input{
width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #3338a0;
  box-sizing: border-box;
}
.container-box button{
  position: relative;
  width: 100%;
  padding: 10px;
  background: #3338a0;
  color: #F7F7F7;
  border: none;
  border-radius: 6px;
  margin: auto;
  position: relative;
}
.logo{
    width:100px;
    
  
}

